body {
    color: aqua;
    background-color: gray;
    font-family: 'Comfortaa', cursive;
    text-shadow: rgb(12, 0, 117) 2px 2px 2px;
    background-image: linear-gradient(darkturquoise, blue); /*linear-gradient is used here to allow two colors to fuse for the background.*/
}
.background {
    background-repeat: /*no-repeat;*/
}
p{
    color:#95FFE5;
}
h2 {
    font-family: 'Orbitron', sans-serif;
}
a{
    list-style: none;
    color:white;
    text-decoration: none;
}
a:hover{
    list-style: none;
    text-decoration: none;
    color:white;
}
.about {
    text-align: center;
}
.footer-bar {
    background:#003030;
    opacity: 0.7;
    width: 100%;
}
.floater {
    float: right;
}
.marg-top {
    margin-top: -10px;
}
.thumb {
    width: 350px;
    height: 200px;
    box-shadow:rgb(12, 0, 117) 2px 2px 2px;
    opacity: 0.9;
}
.avatar {
    margin:auto;
    box-shadow:rgb(12, 0, 117) 2px 2px 2px;
    opacity: 0.9;
    height: 200px;
    width: 200px;
    border-radius: 100px;
}
.border {
    border-bottom:#003777 solid 4px;
    margin-top: 30px;
    box-shadow:rgb(12, 0, 117) 5px 5px 5px;
}
.button-default {
    color: white;
    background-color: #009494;
    text-align: center;
    text-transform: uppercase;
    padding: 5px 25px;
    margin: 10px;
    display: inline-block;
    box-align: right;
    box-shadow:rgb(12, 0, 117) 2px 2px 2px;
}
.button-pad {
    padding: 0px 15px;
}
.button-slanted {
    transform: skewX(-20deg);
}
.button-slanted-content {
    transform: skewX(20deg);  
    display: inline-block;
}
.button-default:hover{
    background-color:#00cccc;
}
.item {
    position: relative;
    width: 350px;
    margin: 20px auto;
    cursor: pointer;
    overflow: hidden;
    box-shadow:rgb(12, 0, 117) 2px 2px 2px;
}
.item img {
    width: 350px;
    height: 200px;
}
.item .info {
    width: 350px;
    height: 200px;
    background:rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 0px;
    left: -350px;
    opacity: 0;
    color:aqua;
    transition: left .2s linear, opacity .2s linear; /*transition is used here to allow the hover effect to slide.*/
}
.item:hover .info {
    left: 0px;
    opacity: 1;
    transition: left .2s linear, opacity .2s linear;
}
.item h2 {
    padding-left: 25px;
    font-family: 'Orbitron', sans-serif;
    font-size: 40px;
    margin: 0;
    padding: 20px 0px 5px 0px;
    text-align: center;
    color: aqua;
}
.item p {
    padding: 0px 18px;
    text-align: center;
    font-family: Helvetica, Arial;
}
.more-btn {
    display: inline-block;
    color: aquamarine;
    text-decoration: none;
    border-radius: 28px;
    font-family: 'Comfortaa', cursive;
    background: #2980B9;
    padding: 11px 20px;
    opacity: 0.9;
    margin-left: 39%;
    margin-top: 15px;
    transition: .2s linear;
}
.more-btn:hover {
    background: #7FB3D5;
    transition: .2s linear;
}
.side-border {
    border-bottom:#003777 solid 2.5px;
    width: 400px;
}
.brd-align-r {
    margin-left: -100px;
}
.brd-align-l {
    margin-left: 60px;
}
.botter {
    margin-bottom: -12px;
}
.social-ref {
    background:#001616;
    opacity: 0.7;
    width: 100%;
    height:50px;
}
.social-text {
    font-size:20px;
    margin-top:12px;
    color:cyan;
}
.social-text a{
color:cyan;
}
.social-text a:hover{
    color:white;
}
.fab{ /*this tag is being used to resize the text of my social links.*/
    font-size: 20px;
    margin-right: 5px;
}
@media (min-width:0px) and (max-width:364px){ /* 0px-991px - resolution size for tablets and phones.*/
    .social-ref{
        height:200px;
        width:114%;
    }
    .footer-bar{
        width:114%;
    }
    .border{
        width:114%;
    }
    .btn-resize{
        padding:4px 6px;
        font-size:12px;
        margin:1px;
    }
}
@media (min-width:365px) and (max-width:768px){
    .social-ref{
        height:200px;
    }
    .btn-resize{
        padding:4px 6px;
        font-size:13px;
        margin:4px;
    }
}
@media (min-width:768px) and (max-width:991px){
    .footer-bar{
        width:110%;
    }
    .border{
        width:110%;
    }
    .social-ref{
        height:100px;
        width:110%;
    }
    .hide{
        display:none;
    }
}
@media (min-width:992px) and (max-width:1199px){ /* 992px & up - resolution size for laptops/desktops.*/
    img.small{
        width:300px;
        height:180px;
    }
    .item {
        position: relative;
        width: 300px;
        margin: 20px auto;
    }
    .item img {
        width: 300px;
        height: 180px;
    }
    .item .info {
        width: 300px;
        height: 180px;
        top: 0px;
        left: -300px;
    }
}
@media (min-width:1200px){
    .social-ref{
        height:108px;
    }
}